/** CSS **/
.text-area{
	-fx-border-color:derive(gray,80%);
}

/* The main scrollbar CSS class of ListView */
.text-area .scroll-bar:horizontal ,
.text-area  .scroll-bar:vertical{
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
.text-area .increment-button ,.text-area .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:derive(gray,80%);
}

/* The main scrollbar **track** CSS class  */
.text-area .scroll-bar:horizontal .track ,
.text-area .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.text-area .scroll-bar:horizontal .thumb,
.text-area .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.text-area .scroll-bar:horizontal:hover .track ,
.text-area .scroll-bar:horizontal:pressed .track ,
.text-area .scroll-bar:vertical:hover .track,
.text-area .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#434343,20%);

	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.text-area .scroll-bar .thumb:hover,
.text-area .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.text-area .increment-button:hover ,.text-area .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(gray,80%);	
	-fx-padding:10px;
}